<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-9.1</feature>
        <feature>microProfile-5.0</feature>
    </featureManager>
    
    <!-- https://openliberty.io/docs/latest/reference/config/server-configuration-overview.html -->
    <variable name="db.hostname" defaultValue="localhost" />

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443" />
                  <classloader apiTypeVisibility="+third-party" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="/rate-me" location="rate-me.war" >
    <classloader apiTypeVisibility="+third-party" />
    </webApplication>
    

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />
    
    <library id="jdbcLib">
        <fileset dir="${server.config.dir}" includes="*.jar"/>
    </library>
    
    <dataSource id="mysql" jndiName="jdbc/mysql">
        <jdbcDriver libraryRef="jdbcLib" />
        <properties serverName="localhost" portNumber="3307" databaseName="mysql_rate-me" user="daniel" password="1234" />
    </dataSource>
</server>
