* {
	margin: 0;
	box-sizing: border-box;
}

.container{
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 4fr 1fr;
	grid-template-areas:
        "header header header header"
        "main main main rating"
        "footer footer footer footer";
        
}



#registrieren{
	display: none;
  	flex-direction: column;
  	align-items: flex-start;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 400px;
	padding: 15px;
	border: 3px solid #2c3d03;
	background: #ffe6b3;
	z-index: 1000;
	
}

#registrieren label {
  width: 300px; 
  margin-right: 20px; 
}

#registrieren input[type="text"],
#registrieren input[type="email"],
#registrieren input[type="password"] {
  width: 350px;
  margin-bottom: 10px;
}

html {
	font-family: "Lucida Sans", sans-serif;
}

.header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: #FFF;
	border-radius: 10px;
	color: #FFF;
}

h1 {
	margin-left: 10px;
}

main {
	grid-area: main;
}

.rating{
	display: grid;
	grid-area: rating;
	border-bottom: 2px solid #fff;
    background:#F3E2A9;
    top: 20px;
	left: 20px;
	padding: 15px;

}

.footer {
	grid-area: footer;
	position: relative;
	text-align: center;
	background-color: #333;
	color: #FFF;
	border-radius: 10px;
}

.submit-button {
	display: flex;
	align-items: center;
	float: right;
}

.login-field {
	color: #333;
	background-color: #EEE;
	border: 1px solid #ccc;
	padding: 10px;
	margin-right: 10;
	border-radius: 10px;
}



